## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<link rel="stylesheet" href="${static.url("css/NewHeader.css")}">
<link rel="stylesheet" href="${static.url("css/DropdownStyle.css")}">
<!-- <link rel="stylesheet" href="${static.url("css/Header.css")}">

<link rel="stylesheet" href="${static.url("css/_common.css")}">
<link rel="stylesheet" href="${static.url("css/_Head.css")}"> -->
<link rel="stylesheet" href="${static.url("css/bootstrap.min.css")}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper wrapper-footer">
  <header class="header-fix">
    <div class="clearfix"></div>
        <nav class="navbar bg-white navbar-fixed-top" id="skillupHeader">
          <div class="container-fluid container-inner">
            <div class="navbar-header">
              <a id="MaNUtAb" href="javascripts:void(0);"><img src="${static.url("images/hamburgerblk.svg")}" alt="${_('hamburgerblk')}" /></a>
              <a class="navbar-brand" href="#">
                <img src="${static.url("images/Logo.svg")}" alt="${_('Skillup Online')}" />
              </a>
            </div>
            <div class="navbar-right NAVRiGhT">
              <ul class="nav navbar-nav CaTeGoRY_MeNU">
                <li>
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" id="NavMegamenu" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="/* display: none; */">Course
                    <span><img src="${static.url("images/dpicons.svg")}" alt="${_('dpicons')}" /></span> </a>
                    <ul id="MaNUTOP" class="MoBiLeMeNU">
                      <li class="UserDeatiLs ">
                        <a class="CloseSideBar" href="Javascript:void(0);"><img src="${static.url("images/closeicon.svg")}" alt="${_('closeicon')}" /></a>
                    <span class="UserImG"><img src="${static.url("images/NoLoginM.png")}" alt="${_('NoLoginM')}" /></span>
                    <span class="UserName"><a href="Javascript:void(0);">Hi</a></span>
                    </li>
                      <li>
                        <ul id="MMFRSTMeNU1" class="MMFRSTMeNU">
                          <li id="EXPCaTMENU_pra" class="DPARROW"><!--<a href="Javascript:void(0);">Courses</a> -->
                          <ul id="EXPCaTMENU_Sub" class="EXPCaTMENU_Submenu">
                          <li id="EXPCaTMENU" class="DPARROW"><a href="Javascript:void(0);">Categories</a></li>
                          <li id="EXPCaTMENUpartners" class="DPARROW"><a href="Javascript:void(0);">Courses by</a></li>
                          <li id="EXPCaTMENUCertification" class="DPARROW"><a href="Javascript:void(0);">Popular Courses</a></li>
                          <li id="EXPCaTMENUServices" class="DPARROW"><a href="Javascript:void(0);">Services</a></li>
                          </ul>
                          
                          </li>
                          
                      
                         <li><a href="#" class="BlogfontBold">About SkillUp Online</a></li>
                          <li><a href="#" class="BlogfontBold">Blog</a></li>
                          <!-- <li class="MenUAdd">
                            <a href="Javascript:void(0);">Promo Content here if any</a>
                          </li> -->
                          <li><a href="#" class="BlogfontBold">Contact Us</a></li>
                        </ul>
                      </li>
                    </ul>
      
                    <div id="MMDroPDoWNMAiN" class="dropdown-menu hoverefffectdiv">
                       
                       <div class="MegaMenuSection">
                       <div class="BoxFor3 hidere" id="boxfor1">
                            <div id="MMDroPDoWNMAiNBaCK" class="mainmenuoption"><a href="javascript:void(0);">Categories</a></div>
                           <div class="Paddbox">
                           <h4 class="MegaMenuHeading">Categories</h4>
                          <ul class="categorylist customscroll dropdown-submenu">
                           
                            </ul> 
                          </div>
                       </div>
                        <div class="BoxFor3 hidere" id="boxfor2">
                         <div id="MMDroPDoWNMAiNBaCK2" class="mainmenuoption"><a href="javascript:void(0);">Courses by</a></div>  	
                            <div class="Paddbox">
                           <h4 class="MegaMenuHeading">Courses by</h4>
                          <ul class="learning-Partners">
                            <li><a href="#"><img src="${static.url("images/companies/FSPrimeIcon.png")}" alt="${_('FSPrimeIcon')}" /></a></li>
                          <li><a href="#"><img src="${static.url("images/companies/googlecloud.png")}" alt="${_('googlecloud')}" /></a></li>
                          <li><a href="#"><img src="${static.url("images/companies/IBMIcon.png")}" alt="${_('IBMIcon')}" /></a></li>
                          <li><a href="#"><img src="${static.url("images/companies/MSOFTIcon.png")}" alt="${_('MSOFTIcon')}" /></a></li>
                          <li><a href="#"><img src="${static.url("images/companies/PLUIcon.png")}" alt="${_('PLUIcon')}" /></a></li>
                          </ul>
                            </div>
                          </div>
                       <div class="BoxFor3 hidere" id="boxfor3"> 
                       <div id="MMDroPDoWNMAiNBaCK3" class="mainmenuoption"><a href="javascript:void(0);">Popular Courses</a></div>
                          <div class="Paddbox">
                       <h4 class="MegaMenuHeading">Popular Courses</h4>
                       <ul class="MegaMenu_PopularCourse">
                        <li><a href="#"><div class="PopularCourse_LeFT"><img src="${static.url("images/AIchatbot.jpg")}" alt="${_('AIchatbot')}" /></div>
                          <div class="PopularCourse_Right">
                            <p class="Course_name">Artificial Intelligence Foundations</p>
                          </div></a></li>
                          <li><a href="#">
                            <div class="PopularCourse_LeFT"><img src="${static.url("images/develop.jpg")}" alt="${_('develop')}" /></div>
                            <div class="PopularCourse_Right">
                              <p class="Course_name">AI-050: Develop Generative AI Solutions with Azure OpenAI Service</p>
                            </div></a></li>
                            <li><a href="#">
                              <div class="PopularCourse_LeFT"><img src="${static.url("images/foundation.jpg")}" alt="${_('foundation')}" /></div>
                              <div class="PopularCourse_Right">
                                <p class="Course_name">Foundations of Cybersecurity Program</p>
                              </div></a></li>
                              <li><a href="#">
                                <div class="PopularCourse_LeFT"><img src="${static.url("images/AIBanner.png")}" alt="${_('AIBanner')}" /></div>
                                <div class="PopularCourse_Right">
                                  <p class="Course_name">AI Chatbots Without Programming</p></div>
                                </a></li></ul>
                      <div class="MainCatE">
                        <ul class="categorylist">
                          <li class="exploreAll">
                            <a href="#">Explore All Courses</a>
                          </li>
                        </ul>
                      </div>
                      </div> 
                      </div>
                           
                      <div class="BoxFor4" id="boxfor4">
              <div id="MMDroPDoWNMAiNBaCK4" class="mainmenuoption"><a href="javascript:void(0);">Services</a></div>
                        <div class="Paddbox">
                            <h4 class="MegaMenuHeading">Services</h4>
                              <ul class="MegaMenu_add">
                                <li><a href="#" target="_blank">Placement</a></li>  
                              </ul>	 
                            </div>
                          </div>
                        </div>
    
                      </div>
                  </div>
                  <ul id="MMDroPDoWNMAiN" class="dropdown-menu">
                    <!--First Menu Start-->
                    <li id="MMDroPDoWNMAiNBaCK" class="mainmenuoption"><a href="javascript:void(0);">Categories</a>
                    </li>
                 
                    </ul>    
                </li>
              </ul>
              <ul class="nav navbar-nav HeAdSeArCH">
                <li>
                  <form class="search-form" method="get" action="#" id="searchForm">          
                  <div class="input-group">
                    <input type="text" name="search" id="search_box" class="form-control search-input ui-autocomplete-input" placeholder="Search Courses">
                    <span class="input-group-btn">
                    <button type="submit" id="btnCheck" class="btn search-button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
                </li>
                </ul>
              <ul class="nav navbar-nav MobIlE_MenU">
                <li><a href="#">About SkillUp Online</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
                    <ul class="nav navbar-nav LoGInMeNU">
                        <li class="MoBiLESeArCH margin-right-auto HideDeskTop">
                            <a href="javascript:void(0);"><img src="${static.url("images/Search.svg")}" alt="${_('Search')}" /></a>
                        </li>
    
    
                        <li class="LogiN_BTN"><a href="#">LOGIN</a></li>
                        <li class="SiGnUPfREE"><a href="#">SIGNUP <span>FOR FREE</span></a></li>
                    </ul>
                </div>
             </div>
        </nav>
    </header>
</div>
<script src="${static.url("js/jquery-2.2.4.min.js")}"></script>
<script src="${static.url("js/bootstrap.min.js")}"></script>
<script src="${static.url("js/custom_new.js")}"></script>

<!-- <script>
 
  var dropdown = document.getElementById('myDropdown');
  var dropdownContent = document.getElementById('dropdownContent');

  dropdown.addEventListener('click', function(event) {
    event.stopPropagation(); // Prevents the click event from reaching the document
    dropdownContent.classList.toggle('freeze-dropdown');
  });

  document.addEventListener('click', function() {
    dropdownContent.classList.remove('freeze-dropdown');
  });
</script> -->
